nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6vw;
  height: 120px;
  z-index: 100;
}
.left_nav{
  display: flex;
  gap: 50px;
  align-items: center;
}
.nav_logo{
  display: flex;
  align-items: center;
}
.nav_logo img{
  border-radius: 50%;
  width: 100px;
}
.nav_menu ul{
  display: flex;
}
ul li{
  position: relative;
  list-style: none;
  margin: 0 30px;
}
.link{
  text-decoration: none;
  padding: 10px 0;
  /*font-size: 15px;
  font-weight: 500;*/
}
.nav_menu .link_border{
  height: 1px;
  width: 0;
  position: absolute;
  bottom: 43px;
  background: black;
  transition: .4s ease-in-out;
}
.link:hover .link_border{
  width: 30px;
}

    .link::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: #000;
      transition: width 0.3s ease; 
    }

   
    .link:hover::after {
      width: 100%; 
    }

    .nav-links {
      display: flex;
      gap: 2rem;
  }
  
  .nav-link, .drop-down li {
      list-style: none;
      height: 100%;
      padding: 1px 10px;
      cursor: pointer;
      padding-bottom: 10px;
  }
  
  a {
      text-decoration: none;
      color: currentColor;
  }
  
  .drop-down {
    margin-top: 0;
      position: absolute;
      padding: 0.2rem 0;
      margin: 0.2rem -0.2rem;
      background: antiquewhite;
      color: black;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem;
      font-size: 12px;
      display: none;
      visibility: hidden;
  }

  .services:hover .drop-down {
      display: block;
      visibility: visible;
  }
  
  .services a {
      display: flex;
      align-items: center;
  }
  
  .services .dropdown-icon {
      font-size: 18px;
      position: relative;
      right: -5px;
      transform: rotate(0deg);
      transition: 0.3s ease-in-out all;
  }
  
  .services:hover .dropdown-icon {
      transform: rotate(180deg);
  }
  
  .drop-down li:hover {
      background: black;
      color: #fff;
      border-radius: 0.2rem;
  }

  .drop-down li{
    margin: 15px;
  }

  .right_nav img{
    margin: 20px;
    height: 40px
  }

  /*dark mode */
  body {
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  .dark-mode .right_nav img {
    filter: invert(1);
  }
  .toggle-dark-mode {
    position: absolute;
    top: 39px;
    right: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .dark-mode .toggle-dark-mode {
    background-color: #fff;
    color: #000;
  }

/*barra di ricerca */
.search-box {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.search-box input {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
}

.search-box input:focus {
  outline: none;
  border-color: #000;
}

.search-results {
  text-align: center;
  margin-top: 20px;
}

.search-results a {
  display: block;
  font-size: 18px;;
  text-decoration: none;
  margin-bottom: 10px;
}

.search-results a:hover {
  text-decoration: underline;
}